.footer {
    width: 100%;
    height: 380px;
    background-color: #27282e;
    border-top-right-radius: 80px;
    position: relative;


}

.menu-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    gap: 120px;
    position: absolute;
    top: 50px;
    right: 20%;

}

.logo-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 20%;
}

.list-footer h3 {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    margin-top: 0;
}

.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list li {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(161, 161, 161);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

@media(min-width: 1700px) {
    .list-footer h3 {
        font-size: 23px;
    }

    .list li {
        font-size: 20px;
    }

    .logo-footer img {
        width: 150px;
    }
}



@media(max-width: 1150px) {
    .logo-footer {
        left: 10%;
    }

    .menu-footer {
        gap: 80px;
        right: 15%;
    }
}

@media(max-width: 770px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 720px;
    }

    .logo-footer {
        position: static;
        margin-bottom: 55px;
    }

    .menu-footer {
        position: static;
        flex-direction: column;
        gap: 10px;
    }

    .list-footer h3 {
        text-align: center;
    }

    .list {
        text-align: center;
    }
}